<app-header></app-header>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa fa-bars"></i> VACANTES</h3>
      </div>
    </div>
    <!-- page start-->
    <!-- Page Content -->
<!-- page start-->
<!-- Page Content -->
<h1>Vacantes disponibles</h1>
<div class="container" >
  <div class="col" *ngFor="let usuario of usuarios">
    <div class="col-md-4">
      <div class="blog-card blog-card-blog">
          <div class="blog-table" >
              <h4 class="blog-card-caption">
                  <a href="#"  >{{usuario.negocio}} solicita:</a>
              </h4>
              <p class="blog-card-description"  >Empleo: {{usuario.empleo}}</p>
              <p class="blog-card-description"  >Requisitos: {{usuario.requisitos}}</p>
              <p class="blog-card-description"  >Ubicación: {{usuario.ubicacion}}</p>
          </div>
      </div>
    </div>

  </div>
</div>
<!-- /.container -->

<!-- page end-->
