<app-header></app-header>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa fa-bars"></i> USUARIOS</h3>
        <div class="nav search-row" id="top_menu">
          <!--  search form start -->
          <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" name="filterUsuario" placeholder="Buscar usuario" type="text" [(ngModel)]="filterUsuario">
              </form>
            </li>
          </ul>
          <!--  search form end -->
        </div>
        <!--  -->
        <button type="button" class="btn btn-info" name="button" style="float: right" data-toggle="modal" data-target="#exampleModal">Agregar+</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR USUARIO</h5>
              </div>
              <div class="modal-body">
                <!-- <form action="" style="width: 45%; max-width: 650px; margin: auto; padding: 25px 65px; margin-top: 30px; padding-bottom: 30px; border-radius: 3px;"> -->
                  <!--<div>
                    <h1 class="form-title" style="font-weight: normal; font-family: sans-serif; text-align: center; padding: 14px 0;"> C<span>ontacto</span></h1>
                  </div>-->
                  <!--<label for="nombre" style="display: block; color: black; font-size: 16px; position: relative;">NOMBRE(S) COMPLETO</label>-->
                  <div class="row ">
                    <div class="col">
                      <input type="text" id="recipient-name" [(ngModel)]="usuario.negocio" name="nombre" #nombre="ngModel" placeholder="Nombre del negocio" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;" required>
                      <div *ngIf="nombre.touched && !nombre.valid">
                          <div *ngIf="nombre.errors.required" style="color: red">
                            Por favor ingrese el nombre del negocio, el campo no debe de estar vacío
                          </div>
                        </div>

                      <input type="text" id="recipient-name" [(ngModel)]="usuario.contacto" name="nombre" #nombre="ngModel" placeholder="Contacto" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;" required>
                        <div *ngIf="nombre.touched && !nombre.valid">
                          <div *ngIf="nombre.errors.required" style="color: red">
                            Por favor ingrese un contacto, el campo no debe de estar vacío
                          </div>
                        </div>
                      
                      
                      
                      <textarea [(ngModel)]="usuario.descripcion" name="mensaje" #mensaje="ngModel" placeholder="Descripcion" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required></textarea>
                      <div *ngIf="mensaje.touched && !mensaje.valid">
                          <div *ngIf="mensaje.errors.required" style="color: red">
                            Por favor ingrese una breve descripción del negocio, el campo no debe de estar vacío
                          </div>
                        </div>
                    </div>
                  </div>
                  <!--<label for="email" style="display: block; color: black; font-size: 16px; position: relative;" >E-MAIL</label>-->
                  <!--<label for="mensaje" style="display: block; color: black; font-size: position: relative;">MENSAJE</label>-->
                  <div class="row">
                    <div class="col">
                      <input type="text" [(ngModel)]="usuario.ubicacion" name="ubicacion" #ubicacion="ngModel" placeholder="Ubicación" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="ubicacion.touched && !ubicacion.valid">
                          <div *ngIf="ubicacion.errors.required" style="color: red">
                            Por favor ingrese la Ubicación del negocio, el campo no debe de estar vacío
                          </div>
                        </div>
                      
                      
                      
                      
                      <input type="text" [(ngModel)]="usuario.fecha" name="fecha" #fecha="ngModel" placeholder="Fecha" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="fecha.touched && !fecha.valid">
                          <div *ngIf="fecha.errors.required" style="color: red">
                            Por favor ingrese la fecha de alta, el campo no debe de estar vacío
                          </div>
                        </div>
                   
                   
                   
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input type="text" [(ngModel)]="usuario.email" name="email" #email="ngModel" placeholder="Email" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="email.touched && !email.valid">
                          <div *ngIf="email.errors.required" style="color: red">
                            Por favor ingrese un correo electrónico, el campo no debe de estar vacío
                          </div>
                        </div>
                      
                      
                      
                      <input type="text" [(ngModel)]="usuario.password" name="password" #password="ngModel" placeholder="Contraseña" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="password.touched && !password.valid">
                          <div *ngIf="password.errors.required" style="color: red">
                            Por favor ingrese una contraseña, el campo no debe de estar vacío
                          </div>
                        </div>
                    
                    
                    
                    
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input type="text" [(ngModel)]="usuario.RFC" name="RFC" #RFC="ngModel" placeholder="RFC" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="RFC.touched && !RFC.valid">
                          <div *ngIf="RFC.errors.required" style="color: red">
                            Por favor ingrese su RFC, el campo no debe de estar vacío
                          </div>
                        </div>




                      <input type="text" [(ngModel)]="usuario.telefono" name="telefono" #telefono="ngModel" placeholder="Telefono" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"required>
                      <div *ngIf="telefono.touched && !telefono.valid">
                          <div *ngIf="telefono.errors.required" style="color: red">
                            Por favor ingrese un número de teléfono, el campo no debe de estar vacío
                          </div>
                        </div>
                  
                  
                  
                  
                    </div>
                    <div class="col">
                      <label for="advertence" style="color: red">*Por favor seleccione el tipo de negocio </label>
                      <select id="categoria" name="categoria" class="form-control" placeholder="Tipo" [(ngModel)]="usuario.categoria" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 100%; border-radius: 2px; color: black; cursor: pointer;">
                        <option value="Miscelanea">Miscelanea</option>
                        <option value="Comida">Comida</option>
                        <option value="Salud">Salud</option>
                        <option value="Diversion">Diversión</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="advertence" style="color: red">*Seleccione tipo de usuario</label>
                      <select id="rol" name="rol" class="form-control" [(ngModel)]="usuario.roles" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 100%; border-radius: 2px; color: black; cursor: pointer;">
                        <option value="admin">Administrador</option>
                        <option value="client">Cliente</option>
                        <option value="superadmin">SuperUsuario</option>
                      </select>
                    </div>
                  </div>
                <!-- </form> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button (click)="crearUsuario( usuario )" type="reset" data-dismiss="modal" class="btn btn-primary">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModaldos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">EDITAR USUARIO</h5>
      </div>
      <div class="modal-body">
        <!-- <form action="" style="width: 45%; max-width: 650px; margin: auto; padding: 25px 65px; margin-top: 30px; padding-bottom: 30px; border-radius: 3px;"> -->
          <!--<div>
            <h1 class="form-title" style="font-weight: normal; font-family: sans-serif; text-align: center; padding: 14px 0;"> C<span>ontacto</span></h1>
          </div>-->
          <!--<label for="nombre" style="display: block; color: black; font-size: 16px; position: relative;">NOMBRE(S) COMPLETO</label>-->
          <div class="row ">
            <div class="col">
              <input type="text" [(ngModel)]="usuario.negocio" nombre="negocio" ngModel placeholder="Nombre del negocio" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <input type="text" [(ngModel)]="usuario.contacto" nombre="contacto" ngModel placeholder="Contacto" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <textarea [(ngModel)]="usuario.descripcion" nombre="mensaje" ngModel placeholder="Descripcion" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"></textarea>
            </div>
          </div>
          <!--<label for="email" style="display: block; color: black; font-size: 16px; position: relative;" >E-MAIL</label>-->
          <!--<label for="mensaje" style="display: block; color: black; font-size: position: relative;">MENSAJE</label>-->
          <div class="row">
            <div class="col">
              <input type="text" [(ngModel)]="usuario.ubicacion" nombre="ubicacion" ngModel placeholder="Ubicación" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <input type="text" [(ngModel)]="usuario.fecha" nombre="fecha" ngModel placeholder="Fecha" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" [(ngModel)]="usuario.email" nombre="email" ngModel placeholder="Email" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <input type="text" [(ngModel)]="usuario.password" nombre="password" ngModel placeholder="Contraseña" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 50%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" [(ngModel)]="usuario.rfc" nombre="rfc" ngModel placeholder="RFC" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 33%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <input type="text" [(ngModel)]="usuario.telefono" nombre="telefono" ngModel placeholder="Telefono" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 33%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
              <input type="text" [(ngModel)]="usuario.tipo" nombre="categoria" ngModel placeholder="Categoria" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 33%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="editarUsuarios( usuario )" class="btn btn-primary" data-dismiss="modal">Editar</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
<div class="row flex-lg-nowrap">

    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Contraseña</th>
                      <th class="max-width">Negocio</th>
                      <th>RFC</th>
                      <th>Categoria</th>
                      <th>Rol</th>
                      <th class="sortable">Teléfono</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let usu of usuarios | filter:filterUsuario">
                    <tr>
                      <td class="text-nowrap align-middle">{{usu.email}}</td>
                      <td class="text-nowrap align-middle"><span>{{usu.password}}</span></td>
                      <td class="text-nowrap align-middle"><span>{{usu.negocio}}</span></td>
                      <td class="text-nowrap align-middle"><span>{{usu.RFC}}</span></td>
                      <td class="text-nowrap align-middle"><span>{{usu.categoria}}</span></td>
                      <td class="text-nowrap align-middle"><span>{{usu.roles}}</span></td>
                      <td class="text-nowrap align-middle"><span>{{usu.telefono}}</span></td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button (click)="verUsuario(usu, exampleModaldos)" type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModaldos">Editar</button>
                            <button (click)="eliminarUsuarios( usu )" type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
