<div class="container">

  <form class="login-form" action="">
    <div class="login-wrap">
      <p class="login-img"><i class="icon_lock_alt"></i></p>
      <label class="checkbox">

      <span class="pull-center"> <a href="#">INGRESA CORREO Y NUEVA CONTRASEÑA</a></span>
      </label>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_profile"></i></span>
        <input type="text" class="form-control" placeholder="Correo" autofocus>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <input type="password" class="form-control" placeholder="Nueva Contraseña">
      </div>

      <button class="btn btn-primary btn-lg btn-block" type="submit">Cambiar</button>
      <a href="login.html"
      class="btn btn-info btn-lg btn-block" type="submit">Login
    </a>
    </div>
  </form>
  <div class="text-right">
    <div class="credits">

      </div>
  </div>
</div>
