<app-header></app-header>
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa fa-bars"></i> TODOS LOS NEGOCIOS</h3>
        <div class="nav search-row" id="top_menu">
          <!--  search form start -->
          <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" name="filterCategoria" placeholder="Buscar NEGOCIO" type="text" [(ngModel)]="filterCategoria">
              </form>
            </li>
          </ul>
          <!--  search form end -->
        </div>
        <!--  -->
      </div>
    </div>
    <!-- Modal -->
    <table class="table">

      <tr >
        <th scope="col">Negocio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Telefono</th>
        <th scope="col">Opciones</th>
      </tr>
    <tbody>
      <!-- "usu" es el nombre que reciben las posicionenes en las que se ha recorrido,
    por lo tanto, -->
      <tr *ngFor="let usu of usuarios | filter:filterCategoria">
        <!-- <th scope="row">{{usu.numero}}</th> -->
        <td>{{usu.negocio}}</td>
        <td>{{usu.descripcion}}</td>
        <td>{{usu.telefono}}</td>
          <td>
            <!-- (click)="editarUsuarios( usu )" -->
            <button (click)="verUsuario(usu, exampleModaldos)" type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModaldos">Ver</button>
          </td>
      </tr>
    </tbody>
    </table>


    <!-- <a href="sms:+529514406551?body=HOLA!">Pulse para decirnos hola</a> -->
    <!-- page start-->
    <!-- Page Content -->
<!-- page start-->
<!-- <div class="container">-->

<!-- </section>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>
</section> -->

<div class="modal fade" id="exampleModaldos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Ver Negocio</h5>
      </div>
      <div class="modal-body">
        <!-- <form action="" style="width: 45%; max-width: 6100px; margin: auto; padding: 25px 65px; margin-top: 30px; padding-bottom: 30px; border-radius: 3px;"> -->
          <!--<div>
            <h1 class="form-title" style="font-weight: normal; font-family: sans-serif; text-align: center; padding: 14px 0;"> C<span>ontacto</span></h1>
          </div>-->
          <!--<label for="nombre" style="display: block; color: black; font-size: 16px; position: relative;">NOMBRE(S) COMPLETO</label>-->
          <div class="row ">
            <span>Negocio:</span>
            <div class="col">
              <input type="text" [(ngModel)]="categoria.negocio" nombre="negocio" ngModel placeholder="Nombre del negocio" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
            Contacto:
            <div class="col">
              <input type="text" [(ngModel)]="categoria.contacto" nombre="contacto" ngModel placeholder="Contacto" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
            Descripción:
            <div class="col">
              <textarea [(ngModel)]="categoria.descripcion" nombre="mensaje" ngModel placeholder="Descripcion" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;"></textarea>
            </div>
          </div>
          <!--<label for="email" style="display: block; color: black; font-size: 16px; position: relative;" >E-MAIL</label>-->
          <!--<label for="mensaje" style="display: block; color: black; font-size: position: relative;">MENSAJE</label>-->
          <div class="row">
            Teléfono:
            <div class="col">
              <input type="text" [(ngModel)]="categoria.telefono" nombre="telefono" ngModel placeholder="Telefono" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #D4AC0D; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
            Ubicación:
            <div class="col">
              <input type="text" [(ngModel)]="categoria.ubicacion" nombre="ubicacion" ngModel placeholder="Ubicación" style="background: #F8F9F9; border: none; outline: none; border-bottom: 2px solid #138D75; width: 100%; padding: 12px; margin-bottom: 20px; border-radius: 2px; font-size: 14px; color: black;">
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
